body {
    background-image: url("img/bck_green.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#index {
    margin: 0 1rem;
    font-size: 1.5rem;
    color: white;
    border: 0;
}

h3 {
    text-align: center;
    margin: 0 2rem 2rem  2rem;
}

section > div >img {
    border: 2px solid;
    margin-left: 27%;
    width: 150px;
    height: 150px;
}

.b-green {
    border-color: green;
}

.b-blue {
    border-color: blue;
}

.b-yellow {
    border-color: yellow;
}