.height-view {
    height: 80vh;
}

#intro {
    background-image: url("img/Mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

#boton {
    height: 20vh;
    background-color: #2e3142;
}

#gafas {
    border: 3px solid white;
    color: whitesmoke;
    margin-left: 25%;
    margin-top: 2.5rem;
    z-index: 100 !important;
}